@import '../../Base.sass';
@import './TagCloud.module.sass';
@import './AboutPrint.module.sass';

@media screen {
  :root {
    --photo-size: 500px;
    --button-font-size: 30px;
    --svg-size: 36px;
    --outline: 3px;
    --gap: 50px;
    --small-gap: 20px;
  }

  .about {
    padding-top: 100px;
  }

  .about__item {
      margin-bottom: 100px;
  }

  .about__contacts {
      display: grid;
      grid-template-areas: 'title image' 'buttons image';
      grid-template-rows: calc(var(--photo-size) - var(--gap) - calc(var(--small-gap) + (var(--svg-size) + 2 * calc(var(--button-font-size) * 0.6)) * 2))  calc(var(--small-gap) + (var(--svg-size) + 2 * calc(var(--button-font-size) * 0.6)) * 2);
      gap: var(--gap);
      text-align: left;
  }

  .contacts__title {
    grid-area: title;
    margin: 0;
  }

  .contacts__title_title {
    margin: 0 0 var(--small-gap) 0;
    font-size: calc(var(--button-font-size) * 2.13);
    font-weight: 700;
  }

  .contacts__title_subtitle {
    margin: 0;
    font-size: calc(var(--button-font-size) * 1.67);
    font-weight: 400;
  }

  .contacts__image {
    grid-area: image;
    height: inherit;
    width: auto;
    margin-left: auto;
  }

  .contacts__image img {
    width: var(--photo-size);
    height: var(--photo-size);
    border-radius: var(--button-font-size);
    object-fit: cover;
    object-position: center center;
    background-color: #ccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .contacts__buttons {
    grid-area: buttons;
    margin: 0;

    display: flex;
    gap: var(--small-gap);
  }

  .contacts__buttons div {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: var(--small-gap);
  }

  .contacts__buttons__item {
    flex-shrink: 0;
    font-size: var(--button-font-size);
    border-radius: var(--button-font-size);
    outline: #FFCF48 solid var(--outline);
    outline-offset: calc(var(--outline) * -1);
    box-sizing: border-box;
    padding: calc(var(--button-font-size) * 0.6) calc(var(--button-font-size) * 0.93);
  }

  .contacts__buttons__item svg {
    display: block;
    width: var(--svg-size);
    height: var(--svg-size);
    margin-right: calc(var(--button-font-size) * 0.66);
  }

  .contacts__buttons__item svg:hover {
    fill: white;
  }
}

@media screen and (max-width: 1199px) {
  :root {
    --photo-size: 450px;
    --button-font-size: 27px;
    --svg-size: 32px;
    --gap: 40px;
  }
}

@media screen and (max-width: 1099px) {
  :root {
    --photo-size: 400px;
    --button-font-size: 25px;
    --svg-size: 30px;
  }
}

@media screen and (max-width: 999px) {
  :root {
    --photo-size: 350px;
    --button-font-size: 23px;
    --svg-size: 28px;
    --outline: 2px;
  }
}

@media screen and (max-width: 899px) {
  :root {
    --photo-size: 250px;
    --button-font-size: 22px;
    --svg-size: 26px;
  }

  .about__contacts {
    grid-template-areas: 'title image' 'buttons buttons';
    grid-template-rows: auto auto;
  }

  .contacts__buttons div {
    flex-direction: row;
    flex-grow: 1;
  }

  .contacts__buttons__item {
    flex-grow: 1;
    justify-content: center;
  }
}

@media screen and (max-width: 799px) {
  :root {
    --photo-size: 200px;
    --button-font-size: 19px;
    --svg-size: 24px;
  }
}

@media screen and (max-width: 699px) {
  :root {
    --photo-size: 250px;
    --button-font-size: 27px;
    --svg-size: 32px;
  }

  .contacts__title_title {
    font-size: calc(calc(var(--button-font-size) * 2.13) / 1.4);
  }

  .contacts__title_subtitle {
    font-size: calc(calc(var(--button-font-size) * 1.67) / 1.4);
  }

  .contacts__buttons div {
    flex-direction: column;
  }
}

@media screen and (max-width: 599px) {
  :root {
    --photo-size: 220px;
    --button-font-size: 23px;
    --svg-size: 28px;
  }
}
@media screen and (max-width: 499px) {
  :root {
    --photo-size: 180px;
    --button-font-size: 19px;
    --svg-size: 24px;
    --gap: 20px;
  }
}
@media screen and (max-width: 399px) {
  :root {
    --photo-size: 140px;
    --button-font-size: 16px;
    --svg-size: 20px;
    --small-gap: 10px;
  }
}

.qr {
  display: none;
}
