@use '../../Base'

$min_width: Base.$min_width
$columns_count: Base.$columns_count

$multiplier: 2.5
$base_font_size: Base.$base_font_size
$logo_font_size: Base.$logo_font_size
$base_font: calc($multiplier * $base_font_size)
$base_padding: Base.$base_padding
$padding: calc($multiplier * $base_padding)
$logo_font: Base.logoFont($base_font, $padding)
$ext_logo_font: Base.logoFont($logo_font, $padding)

.about
  display: grid
  grid-template: repeat(3, 100%) / 1fr
  grid-template-areas: 'whoami' 'skills' 'projects'

  &::-webkit-scrollbar
    width: 0

  .about__item
    padding-bottom: calc($logo_font_size + 2 * $base_font_size)

  .about__contacts
    grid-area: whoami
    height: inherit
    text-align: left

    display: grid
    grid-template-columns: 1fr calc(10 * $base_font_size)
    grid-template-rows: calc(10 * $base_font_size) 1fr
    grid-template-areas: 'title image' 'text text'
    gap: calc(1.2 * $base_font_size)

    .contacts__title
      grid-area: title
      margin: 0

      .contacts__title_title
        font-size: clamp(1.7rem, 6vmin, 4.5rem)

      .contacts__title_subtitle
        margin: 0
        font-size: clamp(1.3rem, 5vmin, 3.8rem)

    .contacts__image
      grid-area: image
      height: inherit

      img
        width: 100%
        height: 100%
        border-radius: 50%
        object-fit: cover
        object-position: center center

    .contacts__buttons
      grid-area: text
      align-self: center
      margin: 0

      display: flex
      flex-wrap: wrap
      justify-content: space-between

      .contacts__buttons__item
        position: relative
        font-size: $base_font
        border-radius: calc($logo_font / 2)
        padding: $padding

        svg
          display: block
          width: $base_font
          height: $base_font

        &:hover svg
          fill: white

  .about__skills
    grid-area: skills

    display: grid
    grid-template: calc(4 * $base_font_size) auto / 1fr

    .tag-cloud
      align-self: center
      padding: 0 $base_font_size
      margin: 0
      list-style: none
      vertical-align: middle

      .tag-cloud__item
        display: inline-block
        margin: 0 10px
        font-size: clamp(1, random(3), 3)+rem

        &:hover
          color: #FFCF48

  .about__projects
    grid-area: projects
    display: grid
    grid-template-rows: calc(4 * $base_font_size) auto

    .projects__container
      display: grid
      grid-template-columns: repeat(auto-fit, minmax(calc($min_width / $columns_count * 22), 1fr))
      grid-template-rows: auto
      align-items: stretch
      gap: $base_font_size

      @media(min-width: 600px)
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr))

      .container__item
        width: 100%
        height: auto
        border: 1px solid #ccc
        object-fit: cover
        object-position: top center
        box-sizing: border-box

  .navigation-button
    position: sticky
    bottom: $base_font_size
    width: fit-content
    margin: 0 auto