@use '../../Base'

$min_width: Base.$min_width
$columns_count: Base.$columns_count
$base_font_size: Base.$base_font_size

.about
  display: grid
  //overflow: hidden
  overflow-y: scroll
  scroll-behavior: smooth
  scrollbar-width: none
  grid-template: repeat(3, 100%) / 1fr
  grid-template-areas: 'whoami' 'skills' 'projects'

  &::-webkit-scrollbar
    width: 0

  .about_title
    margin: 0 0 calc($base_font_size / 2) 0
    font-family: GilroyWebExtraBold, "Helvetica Neue", sans-serif
    font-size: calc(2.7 * $base_font_size)

  .about__item
    //overflow-y: scroll
    margin-top: $base_font_size
    margin-bottom: $base_font_size

  .about__whoami
    grid-area: whoami
    height: inherit
    text-align: left

    display: grid
    grid-template-columns: 1fr calc(9 * $base_font_size)
    grid-template-rows: calc(9 * $base_font_size) 1fr
    grid-template-areas: 'title image' 'text text'
    gap: calc(1.2 * $base_font_size)

    .whoami__title
      grid-area: title
      margin: 0

      .whoami__title_subtitle
        margin: 0
        font-size: calc(1.8 * $base_font_size)

    .whoami__image
      grid-area: image
      height: inherit

      img
        width: 100%
        height: 100%
        border-radius: 50%
        object-fit: cover
        object-position: center center

    .whoami__text
      grid-area: text
      align-self: center
      margin: 0
      quotes: "“" "”" "‘" "’"
      font-size: calc(1.5 * $base_font_size)

    .whoami__text::before
      content: open-quote

    .whoami__text::after
      content: close-quote

  .about__skills
    grid-area: skills

  .about__projects
    grid-area: projects
    display: grid
    grid-template-rows: calc(4 * $base_font_size) auto

    .projects__container
      display: grid
      grid-template-columns: repeat(auto-fit, minmax(calc($min_width / $columns_count * 22), 1fr))
      grid-template-rows: auto
      align-items: stretch
      gap: $base_font_size

      @media(min-width: 600px)
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr))

      .container__item
        width: 100%
        height: auto
        border: 1px solid #ccc
        object-fit: cover
        object-position: top center
        box-sizing: border-box

  .navigation-button
    position: sticky
    bottom: $base_font_size
    width: fit-content
    margin: 0 auto