@use '../../Base'

$min_width: Base.$min_width
$columns_count: Base.$columns_count
$base_font_size: Base.$base_font_size

.projects
  display: grid
  grid-template-rows: calc(4 * $base_font_size) auto

  .projects-container-collapsed
    display: flex
    justify-content: space-between
    width: 100%
    height: calc(3 * $base_font_size)
    gap: $base_font_size
    padding-bottom: calc($base_font_size - 1px)
    margin: 0 auto
    border-bottom: 1px solid
    overflow-x: scroll
    overflow-y: hidden
    scrollbar-width: none

    &::-webkit-scrollbar
      width: 0

    a
      flex-shrink: 0
      width: auto
      height: inherit

      .projects-container__item
        width: auto

  .projects-container
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(calc($min_width / $columns_count * 22), 1fr))
    grid-template-rows: auto
    align-items: stretch
    gap: $base_font_size

    @media(min-width: 600px)
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr))

  a
    width: 100%
    height: 100%

    .projects-container__item
      width: 100%
      height: inherit
      border: 1px solid #ccc
      object-fit: cover
      object-position: top center
      box-sizing: border-box

.hidden
  display: none


