.button
  padding: 5px 10px
  border: 1px solid
  border-radius: 15px
  font-family: inherit
  font-size: 18px
  color: inherit
  line-height: inherit
  background: transparent
  box-sizing: border-box
  cursor: pointer

  &:hover
    color: white
    background-color: #2fa693

.button-link
  text-decoration: none

  &:visited
    color: inherit