@use '../primitives'
$rows_count: primitives.$rows_count
$header_rows_count: primitives.$header_rows_count
$base_font_size: primitives.$base_font_size
$logo_font_size: calc($base_font_size + 2vmin + 2px)

.header
  grid-column: 1/13
  grid-row: 1 / calc($header_rows_count + 1)
  height: calc($header_rows_count * 100vh / $rows_count)
  font-family: UniNeueWebLight, "Helvetica Neue", sans-serif
  font-size: $logo_font_size
  line-height: 1
  color: white
  background: #282c34

  .header-items
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%
    height: 100%
    padding: 0
    margin: 0
    list-style: none
    box-sizing: border-box

    .header-items__item_logo
      text-transform: lowercase

    .header-items__item_rest
      display: flex

    .theme-switch
      position: relative
      display: inline-block
      width: calc($logo_font_size * 2 - 8px)
      height: $logo_font_size
      margin-right: 20px

      input
        display: none

        &:checked + .slider
          background-color: #2fa693

        &:focus + .slider
          box-shadow: 0 0 1px #2fa693

        &:checked + .slider:before
          background-color: white
          background-image: url("../../img/sun.svg")
          transform: translateX(calc($logo_font_size - 8px))

      .slider
        position: absolute
        cursor: pointer
        top: 0
        left: 0
        right: 0
        bottom: 0
        border-radius: $logo_font_size
        background-color: #ccc
        -webkit-transition: .4s
        transition: .4s

        &:before
          position: absolute
          content: ""
          height: calc($logo_font_size - 8px)
          width: calc($logo_font_size - 8px)
          left: 4px
          bottom: 4px
          border-radius: 50%
          background-color: #282c34
          background-image: url("../../img/moon.svg")
          background-repeat: no-repeat
          background-position: center
          background-size: 80%
          -webkit-transition: .4s
          transition: .4s