@use '../Base'

$bar-height-size: #{"var(--bar-height-size)"}
$side-margin: #{"var(--side-margin-size)"}

.main
  min-width: 280px
  max-width: 1100px
  margin: 0 $side-margin
  padding: 0
  color: white
  font-family: PTRootUIWebVF, "Helvetica Neue", sans-serif
  box-sizing: border-box
  background: #282c34
