@use '../Base'

$min_width: Base.$min_width
$height: Base.$height
$rows_count: Base.$rows_count
$columns_count: Base.$columns_count
$header_rows_count: Base.$header_rows_count
$main_rows_count: Base.$main_rows_count
$base_font_size: Base.$base_font_size
$logo_font_size: Base.$logo_font_size

.main
  grid-column: 2/24
  grid-row: calc($header_rows_count + 1) / calc($header_rows_count + $main_rows_count + 1)

  height: calc($main_rows_count * 100vh / $rows_count)
  height: calc($main_rows_count * $height / $rows_count)
  padding: 0
  color: white
  font-family: UniNeueWebLight, "Helvetica Neue", sans-serif
  box-sizing: border-box
  background: #282c34

  .intro
    display: flex
    flex-direction: column
    align-items: center
    text-align: center

    .name
      font-family: "JetBrainsMono", monospace
      font-size: calc(2.5 * $base_font_size)
      color: #78B856

    .intro__title_subtitle
      margin: 0
      font-size: $base_font_size

    .intro__image
      order: -1
      flex-shrink: 0
      width: calc(11 * $base_font_size)
      height: calc(11 * $base_font_size)
      border-radius: 50%
      background-color: white
      overflow: hidden

      @keyframes memoji
        from
          transform: scale(0)
        to
          transform: scale(1)

      img
        width: inherit
        border-radius: 50%
        object-fit: cover
        object-position: center center
        animation: memoji 1s cubic-bezier(.18,.89,.32,1.28) forwards
