@use '../Base'

$bar_height_size: Base.$bar_height_size
$bar_font_size: Base.$bar_font_size
$bar_content_height: Base.$bar_content_height
$header_margin_size: clamp(20px, 7vw, 50px)

.header
  position: fixed
  display: flex
  justify-content: center
  width: 100%
  height: $bar_height_size
  margin: 0 auto
  font-family: PTRootUIWebVF, "Helvetica Neue", sans-serif
  font-size: $bar_font_size
  font-weight: 500
  line-height: 1
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25)

  .header-items
    display: flex
    justify-content: space-between
    align-items: center
    min-width: 280px
    width: 100%
    max-width: 1100px
    height: 100%
    padding: 0
    margin: 0 $header_margin_size
    list-style: none
    text-transform: lowercase
    box-sizing: border-box

    .header-items__item_logo
      height: $bar_content_height

      .logo-container
        display: inline-block
        height: inherit

        .logo
          height: inherit
          width: auto

    .header-items__item_rest
      display: flex
      height: $bar_content_height

      a, button
        display: flex
        align-items: center
        height: inherit
        flex-shrink: 0
        margin-right: $header_margin_size

      img, svg
        width: auto
        height: inherit
        cursor: pointer
