@use '../Base'

.header
  position: sticky
  z-index: 100
  top: 0
  left: 0
  @include Base.bar(4px)

  .header-items
    @include Base.bar_items

    .header-items__item_logo
      height: Base.$bar-content-height

      .logo-container
        display: inline-block
        height: inherit
        color: inherit

        .logo
          height: inherit
          width: auto
          color: inherit

          &:hover
            filter: opacity(80%)

    .header-items__item_rest
      display: flex
      height: Base.$bar-content-height

      a, button:not(:last-child)
        margin-right: Base.$side-margin-size

      a, button
        display: flex
        align-items: center
        height: inherit
        flex-shrink: 0

      img, svg
        width: auto
        height: inherit
        cursor: pointer

        &:hover
          filter: opacity(80%)
