@use '../Base'

$height: Base.$height
$rows_count: Base.$rows_count
$header_rows_count: Base.$header_rows_count
$base_font_size: Base.$base_font_size
$logo_font_size: Base.$logo_font_size

.header
  grid-column: 2/24
  grid-row: 1 / calc($header_rows_count + 1)
  height: calc($header_rows_count * 100vh / $rows_count)
  height: calc($header_rows_count * $height / $rows_count)
  border-bottom: 1px solid
  font-family: UniNeueWebLight, "Helvetica Neue", sans-serif
  font-size: $logo_font_size
  line-height: 1
  color: white
  background: #282c34
  box-sizing: border-box

  .header-items
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%
    height: 100%
    padding: 0
    margin: 0
    list-style: none
    box-sizing: border-box

    .header-items__item_logo
      height: $logo_font_size
      text-transform: lowercase

      .logo-container
        display: inline-block
        height: inherit

        .logo
          height: inherit

    .header-items__item_rest
      display: flex

    .theme-switch
      margin-right: 20px

      input

        &:checked + .slider:before
          background-image: url("../../img/sun.svg")

      .slider

        &:before
          background-image: url("../../img/moon.svg")