$height: calc(var(--vh, 1vh) * 100)
$min_width: 350px
$columns_count: 24
$rows_count: 20
$header_rows_count: 3
$main_rows_count: 14
$footer_rows_count: 3
$base_font_size: clamp(1rem, 3vmin, 3rem)
$title_font_size: calc(2.7 * $base_font_size)
$base_padding: clamp(0.25rem, 1vmin, 0.5rem)

$bar_font_size: 20px
$bar_height_size: clamp(80px, 10vw, 90px)
$bar_content_height: clamp(24px, 3vw, 30px)

@function logoFont($base_font: $base_font_size, $padding: $base_padding)
  @return calc($base_font + 2 * $padding + 2px)

$logo_font_size: logoFont()

article section
  max-width: 1000px
  margin: 0 auto

//button:focus-visible, a:focus-visible
//  outline: #78B856 solid 2px
//  outline-offset: -2px

//.button
//  display: inline-block
//  font-size: 20px
//  color: inherit
//  line-height: 1
//  background: transparent
//  box-sizing: border-box
//  cursor: pointer
//
//  &:hover
//    color: white
//    border-color: #78B856
//    background-color: #78B856

.button-link
  text-decoration: none

.base
  height: 100%
  overflow: hidden
  scroll-behavior: smooth

  .base__item
    overflow-y: scroll
    height: 100%
    padding-top: $base_font_size
    padding-bottom: $base_font_size
    box-sizing: border-box
    scrollbar-width: none

    &::-webkit-scrollbar
      width: 0

    .base__item__title
      margin: 0 0 calc($base_font_size / 2) 0
      font-family: PTRootUIWebVF, "Helvetica Neue", sans-serif
      font-size: $title_font_size

.switcher
  display: block
  height: $bar_content_height
  width: auto

  input
    display: none

.link
  padding: 0
  border: 0
  margin: 0
  background: transparent
  color: inherit
  text-decoration: none
  font-size: $bar_font_size
  font-weight: 500
  cursor: pointer
