$height: calc(var(--vh, 1vh) * 100)
$min_width: 350px
$columns_count: 24
$rows_count: 20
$header_rows_count: 3
$main_rows_count: 14
$footer_rows_count: 3
$base_font_size: clamp(1rem, 3vmin, 3rem)
$base_padding: clamp(0.25rem, 1vmin, 0.5rem)

@function logoFont($base_font: $base_font_size, $padding: $base_padding)
  @return calc($base_font + 2 * $padding + 2px)

$logo_font_size: logoFont()

article section
  max-width: 1000px
  margin: 0 auto

button:focus-visible, a:focus-visible
  outline: #78B856 solid 2px
  outline-offset: -2px

.button
  display: inline-block
  padding: $base_padding calc(2 * $base_padding)
  border: 1px solid
  border-radius: calc($logo_font_size / 2)
  font-family: inherit
  font-size: $base_font_size
  color: inherit
  line-height: 1
  background: transparent
  box-sizing: border-box
  cursor: pointer

  &:hover
    color: white
    border-color: #78B856
    background-color: #78B856

.button-link
  text-decoration: none

.base
  height: 100%
  overflow: hidden
  scroll-behavior: smooth

  .base__item
    overflow-y: scroll
    height: 100%
    padding-top: $base_font_size
    padding-bottom: $base_font_size
    box-sizing: border-box
    scrollbar-width: none

    &::-webkit-scrollbar
      width: 0

    .base__item__title
      margin: 0 0 calc($base_font_size / 2) 0
      font-family: GilroyWebExtraBold, "Helvetica Neue", sans-serif
      font-size: calc(2.7 * $base_font_size)