@use '../../../Base'

$base_font_size: Base.$base_font_size

$height: Base.$height
$rows_count: Base.$rows_count
$main_rows_count: Base.$main_rows_count

@function project_space($height: $height)
  $main: calc($main_rows_count * $height / $rows_count)
  $projects: calc(5 * $base_font_size)
  $inner_paddings: calc(2 * $base_font_size)
  @return calc($main - $projects - $inner_paddings)

$project_space: project_space()
$width: calc(100vw / 24 * 22)
$max_width: 1000px
$text_font_size: clamp(1rem, 2.3vmin, 2rem)
$gap: 20px

p
  margin: 0

#project
  position: relative
  padding-top: $base_font_size
  padding-bottom: 0
  overflow-x: hidden

  .project__title
    position: sticky
    display: flex
    align-items: center
    justify-content: center
    top: 0
    left: 0
    padding: 0 $base_font_size
    margin: 0
    height: $project_space

  .project__picture
    position: relative
    margin-bottom: $base_font_size

    .wrapper
      position: sticky
      top: 0
      left: 0
      height: $project_space

      .wrapper__picture
        width: 100%
        height: inherit

        .picture
          display: block
          width: max-content
          height: inherit
          margin: 0 auto

          .img
            height: $project_space
            border: 1px solid #ccc
            object-fit: cover
            object-position: top center
            box-sizing: border-box

      @keyframes appear
        from
          transform: translateX($base_font_size)
          opacity: 0
          visibility: hidden

        1%
          transform: translateX($base_font_size)
          opacity: 0.01
          visibility: visible

        to
          transform: translateX(0)
          opacity: 1
          visibility: visible

      @keyframes disappear
        from
          transform: translateX(0)
          opacity: 1
          visibility: visible

        99%
          transform: translateX($base_font_size)
          opacity: 0.01
          visibility: visible

        to
          transform: translateX($base_font_size)
          opacity: 0
          visibility: hidden

      .appear
        animation: appear 1s ease 0s forwards

      .disappear
        animation: disappear 1s ease 0s forwards

      .aim
        position: absolute
        display: flex
        flex-direction: row
        align-items: center
        top: 0
        left: 0
        width: $width
        height: 100%
        margin-left: calc(min(calc($width / 2), calc($max_width / 2)) + $gap / 2)
        max-width: $max_width
        z-index: -1

        @media (max-width: 600px)
          margin-left: 0

        .aim_original, .aim_total
          border: 1px #78B856 dotted
          flex: 0 0 auto
          width: 100%
          height: 100%
          padding: $base_font_size
          box-sizing: border-box
          text-align: center
          visibility: hidden

          .aim__title
            margin: 0 0 $base_font_size 0
            font-family: GilroyWebExtraBold, "Helvetica Neue", sans-serif
            font-weight: normal
            font-size: calc($base_font_size * 1.3)

          .aim__text
            font-size: $text_font_size
            text-align: left

        @media (min-width: 601px)
          .aim_total
            margin-left: calc($gap)

        .half
          width: calc(50% - $gap / 2)

        .full
          width: calc(100%)

  .project__rest
    position: relative
    display: flex
    flex-direction: column
    width: 100%

    .rest__item
      min-height: $project_space
      font-size: calc($base_font_size * 1.5)
      text-align: left

    .rest__item_result
      font-size: calc($base_font_size * 1.5)
      z-index: 1
      padding-bottom: $base_font_size
      border-bottom: 1px solid #FFCF48

      .rest__item__list
        padding: 0
        margin: calc($base_font_size * 1.5) 0 0 0

        li
          display: inline
          opacity: 0

          &:after
            content: ' '

    .rest__item_drawbacks
      position: sticky
      bottom: 0
      height: $project_space
      padding-top: $base_font_size
      margin-top: calc($base_font_size * 5)
      z-index: 0

      .rest__item__list
        padding: 0 calc($base_font_size * 1.5) calc($base_font_size * 1.5) calc($base_font_size * 1.5)
        margin-top: calc($base_font_size * 1.5)
        list-style-image: url("../../../../img/lime-logo.svg")

    .rest__item__title
      width: 100%
      margin: 0
      font-family: GilroyWebExtraBold, "Helvetica Neue", sans-serif
      font-weight: normal
      font-size: clamp(3rem, 10vmin, 10rem)
      opacity: 0.1
