@use '../Base.module'

.footer
  @include Base.bar(-4px)

  .footer-items
    @include Base.bar_items

    .footer-items__item_copyright
      display: inline-block
      flex-shrink: 0
      margin: 0
      text-align: left
