@use 'components/Base'

@font-face
  font-family: 'PTRootUIWebVF'
  src: url('fonts/pt-root-ui_vf.woff2') format('woff2-variations')
  font-weight: 300 700
  font-style: normal

.app-content
  min-width: 350px
  max-width: 1200px
  margin: 0 auto
  text-align: center
