@use './features/primitives'

@font-face
  font-family: 'UniNeueWebLight'
  src: url('fonts/Uni-Neue_Light.woff2') format('woff2'), url('fonts/Uni-Neue_Light.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'GilroyWebExtraBold'
  src: url('fonts/Gilroy_ExtraBold.woff2') format('woff2'), url('fonts/Gilroy_ExtraBold.woff') format('woff')
  font-weight: normal
  font-style: normal

.App
  display: grid
  grid-template-columns: repeat(primitives.$columns_count, 1fr)
  grid-template-rows: repeat(primitives.$rows_count, 1fr)
  height: 100vh
  text-align: center
